body {
	background-image: url('images/stars.jpg');
	font-family: 'Courier New', monospace;
	color: #FFFFFF;
}

#somebox {
	border-style: solid;
	background-color: #292c3c;
	width: 85%;
	height: 2000px;
	border: 9px solid rgb(202, 158, 230);
	padding: 10px;
	margin: 10px;
	text-align:left;
}

#topbox {
	border-style: solid;
	background-color: #292c3c;
	width: 85%;
	height: 20px;
	border: 9px solid rgb(202, 158, 230);
	padding: 10px;
	margin: 10px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	display: inline-bloc
}

#xtrabox {
	background-color: #303446;
	width: 300px;
	height: 20px;
	border: 0px;
	padding: 10px;
	margin: 10px;
	text-align:left;
	font-size: 15px;
}

a {
	color: #a6d189;
}

#OSstuff {
	font-size: 30px;
}

#listthing {
	font-size: 20px;
}
