body {
	background-image: url('images/stars.jpg');
	font-family: 'Courier New', monospace;
	color: #FFFFFF;
}

#somebox {
	border-style: solid;
	background-color: #292c3c;
	width: 85%;
	height: 2000px;
	border: 9px solid rgb(202, 158, 230);
	padding: 10px;
	margin: 10px;
	text-align:left;
}

#topbox {
	border-style: solid;
	background-color: #292c3c;
	width: 85%;
	height: 20px;
	border: 9px solid rgb(202, 158, 230);
	padding: 10px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#topbox ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

#topbox li {
	display: inline-block;
	vertical-align: top;
}

#topbox li a {
	color: cyan;
}

#xtrabox {
	background-color: #303446;
	max-width: fit-content;
	height: 20px;
	border: 0px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	font-size: 15px;
	color: #a6d189;
}

a:hover{
	font-style: italic;
}


#OSstuff {
	font-size: 30px;
}

#listthing {
	font-size: 20px;
}
